<!doctype html>
<html>

<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

      <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
      <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Poller+One" rel="stylesheet">

    <script src="/js/jquery.js"></script>
    <!-- <script src="/js/script.js"></script> -->

    <title>Articles from DB</title>
</head>

<body>
    <div class="main-cont-table">
        <div class="menu-table-box">
            <div class="logo">
                <ul>
                    <li>
                        Enoteca
                    </li>
                </ul>
                
            </div>

            <div class="menu">
                <div class="about">
                    <ul>
                        <li>
                            <a href="../about.html">About</a> 
                        </li>
                    </ul>
                    
                </div>
                <div class="item_menu">
                    <ul>
                        <li>
                            <a href="/wines/searchDB">Wines DB</a>
                        </li>
                    </ul>
                    
                </div>
                
            </div>
        </div>
            
        <div class="table_wines">
            <div class="big_header">
                <h1>{{prdct_name}} <img src="{{image_thumb_url}}" alt="thumb" height="79.75" width="59.75" /></h1> 
            </div>

            <div class="wine_table_contr">

                <div class="big_image_div">
                    <img src="{{image_url}}" alt="big_image" height="399" width="299" />
                </div>

                <div class="single_wine_div">

                    <div class="first_subfield">
                        <form class="update" method="post" action="/wines/{{id}}?_method=PUT">
                         <fieldset>
                            <legend>Product Name</legend>
                               <ul>
                                <li>
                                    <input name="prdct_name" value="{{prdct_name}}" type="text" size="40" />
                                </li>
                               </ul>
                        </fieldset>   
                        <fieldset>
                            <legend>Product Origination</legend>
                               <ul>
                                <li>
                                    <input name="origin" value="{{origin}}" type="text" size="40" />
                                </li>
                               </ul>
                        </fieldset>
                        <fieldset>
                            <legend>Product Release Date</legend>
                               <ul>
                                <li>
                                    <input name="released_on" value="{{released_on}}" type="text" size="12" />
                                </li>
                               </ul>
                        </fieldset> 
                        <fieldset>
                            <legend>Product Thumb Image URL</legend>
                               <ul>
                                <li>
                                    <input name="image_thumb_url" value="{{image_thumb_url}}" type="text" size="40" />
                                </li>
                               </ul>
                        </fieldset>   
                        <fieldset>
                            <legend>Product Regular Price in Cents</legend>
                               <ul>
                                <li>
                                    <input name="reg_price_cc" value="{{reg_price_cc}}" type="text" size="8" />
                                </li>
                               </ul>
                        </fieldset>
                        <fieldset>
                            <legend>Product Big Image URL</legend>
                               <ul>
                                <li>
                                    <input name="image_url" value="{{image_url}}" type="text" size="40" />
                                </li>
                               </ul>
                        </fieldset>
                        <fieldset>  <!-- Hidden fields -->
                            <legend>Product Secondary Category</legend>
                               <ul>
                                <li>
                                    <input name="category" value="{{category}}" type="text" />
                                </li>
                               </ul>
                        </fieldset>
                        <fieldset>
                            <legend>Product Packaging Information</legend>
                               <ul>
                                <li>
                                    <input name="package" value="{{package}}" type="text"/>
                                </li>
                               </ul>
                        </fieldset>  
                        <fieldset>
                            <legend>Product Alcohol Content</legend>
                               <ul>
                                <li>
                                    <input name="alcohol_cntnt" value="{{alcohol_cntnt}}" type="text"/>
                                </li>
                               </ul>
                        </fieldset> 
                    </div>

                    <div class="second_subfield"> 
                        &nbsp;
                        <fieldset>
                            <legend>Product Sugar Content</legend>
                               <ul>
                                <li>
                                    <input name="sugar_cntnt" value="{{sugar_cntnt}}" type="text"/>
                                </li>
                               </ul>
                        </fieldset>  
                        <fieldset>
                            <legend>Product Producer Name</legend>
                               <ul>
                                <li>
                                    <input name="producer_name" value="{{producer_name}}" type="text" size="40" />
                                </li>
                               </ul>
                        </fieldset>    
                        <fieldset>
                            <legend>Product Description</legend>
                               <ul>
                                <li>
                                    <input name="description" value="{{description}}" type="text" size="40" />
                                </li>
                               </ul>
                        </fieldset>    
                        <fieldset>
                            <legend>Product Tasting Notes</legend>
                               <ul>
                                <li>
                                    <input name="tasting_note" value="{{tasting_note}}" type="text" size="40" />
                                </li>
                               </ul>
                        </fieldset>   
                        <fieldset>
                            <legend>Product Varietal (Major Grape)</legend>
                               <ul>
                                <li>
                                    <input name="varietal" value="{{varietal}}" type="text"/>
                                </li>
                               </ul>
                        </fieldset>  
                        <fieldset>
                            <legend>Product Style</legend>
                               <ul>
                                <li>
                                    <input name="style" value="{{style}}" type="text"/>
                                </li>
                               </ul>
                        </fieldset>   
                        <fieldset>
                            <legend>Product Sugar in Grams per Liter</legend>
                               <ul>
                                <li>
                                    <input name="sugar_grm_ltr" value="{{sugar_grm_ltr}}" type="text"/>
                                </li>
                               </ul>
                        </fieldset>  <!-- End of Hidden fields -->
                        <fieldset>
                            <legend>Submit</legend>
                               <ul>
                                <li>
                                    <input value="Save" type="submit" />
                                </li>
                               </ul>
                        </fieldset> 
                    </div> 

                </div>
            </div>
          </section>
        </div>

        <div class="return-box-table">
            <div class="back-to">
                <ul>
                    <li>
                        <a href="/wines/searchDB">To DB list</a>
                    </li>
                </ul>  
            </div>
        </div>
    </div>   <!-- main-container -->
</body>

</html>