<!doctype html>
<html>

<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

      <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
      <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Poller+One" rel="stylesheet">

    <script src="/js/jquery.js"></script>
    <!-- <script src="/js/script.js"></script> -->

    <title>Wines from DB</title>
</head>

<body>
    <div class="main-cont-table">
        <div class="menu-table-box">
            <div class="logo">
                <ul>
                    <li>
                        Enoteca
                    </li>
                </ul>
                
            </div>

            <div class="menu">
                <div class="about">
                    <ul>
                        <li>
                            <a href="../about.html">About</a> 
                        </li>
                    </ul>
                    
                </div>
                <div class="item_menu">
                    <ul>
                        <li>
                            <a href="/wines">All Wines</a>
                        </li>
                    </ul>
                    
                </div>
                
            </div>
        </div>
            
        <div class="table_wines">
          <section>

            <div class="wine_table_contr">

                <h1>Wines saved to DB</h1>
                
                <div class="table_div">
                    <table>

                          <tr>
                            <th>Go to Wine</th>
                            <th>Wine Name</th>
                            <th>Wine Origin</th>
                            <th>Released On</th> 
                            <th>Thumb</th>
                            <th>Price</th>
                            <th>Web Image</th>
                          </tr>
                          {{#winesDB}}
                          <tr>
                            <td><a href="/wines/:{{id}}" title="record_id_{{id}}">Look up</a></td>
                            <td>{{prdct_name}}</td>
                            <td>{{origin}}</td>
                            <td>{{released_on}}</td> 
                            <td><img src="{{image_thumb_url}}" alt="thumb" width="59.75" height="79.75" /></td>
                            <td>{{reg_price_cc}}</td>
                            <td><a href="{{image_url}}" title="web_image" >See it on the Web</a></td>
                            
                          </tr>
                          {{/winesDB}}
                    </table>
                </div>

            </div>
          </section>
        </div>

        <div class="return-box-table">
            <div class="back-to">
                <ul>
                    <li>
                        <a href="/wines/search">Back to search</a>
                        <!-- This will present "Enter search parameters page" -->
                        <!-- <a href="/wines/search">Back to search</a> -->
                    </li>
                </ul>  
            </div>
        </div>
    </div>   <!-- main-container -->
</body>

</html>