<!doctype html>
<html>

<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

      <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
      <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Poller+One" rel="stylesheet">

    <script src="/js/jquery.js"></script>
    <!-- <script src="/js/script.js"></script> -->

    <title>Wines from API</title>
</head>

<body>
    <div class="main-cont-table">
        <div class="menu-table-box">
            <div class="logo">
                <ul>
                    <li>
                        Enoteca
                    </li>
                </ul>
                
            </div>

            <div class="menu">
                <div class="about">
                    <ul>
                        <li>
                            <a href="../about.html">About</a> 
                        </li>
                    </ul>
                    
                </div>
                <div class="item_menu">
                    <ul>
                        <li>
                            <a href="/wines/searchDB">All Wines</a>
                        </li>
                    </ul>
                    
                </div>
                
            </div>
        </div>
            
        <div class="table_wines">
          <section>

            <div class="wine_table_contr">

                <h1>Wines Fetched From API</h1>
                
                <div class="table_div">

                    <table>
                      <tr>
                        <th>Save to DB</th>
                        <th>Wine Name</th>
                        <th>Wine Origin</th>
                        <th>Released On</th> 
                        <th>Thumb</th>
                        <th>Price</th>
                        <th>Image on Web</th>
                      </tr>
                    <!-- </table> -->

                    {{#wnsAPIdt}}
 
                    <div class="table">
                        <form class="tr" method="post" action="/wines/create">
                        <!-- <table> -->
                        <tr>
                            
                             <td><span class="td"><input value="Save" type="submit" /></span></td>

                             <td><span class="td"><input name="name" value="{{name}}" type="text" size="26" readonly /></span></td>

                             <td><span class="td"><input name="origin" value="{{origin}}" type="text" size="26" readonly /></span></td>

                             <td><span class="td"><input name="released_on" value="{{released_on}}" type="text" size="12" readonly /></span></td>

                             <td><span class="td"><input name="image_thumb_url" value="{{image_thumb_url}}" type="hidden" /><img src="{{image_thumb_url}}" alt="thumb" height="79.75" width="59.75" /></span></td>

                             <td><span class="td"><input name="regular_price_in_cents" value="{{regular_price_in_cents}}" type="text" size="8" readonly /></span></td>

                             <td><span class="td"><input name="image_url" value="{{image_url}}" type="hidden" /><a href="{{image_url}}">Image on Web</a></span></td>


                            <!-- Hidden fields -->
                             <span class="td"><input name="secondary_category" value="{{secondary_category}}" type="hidden" /></span>
                             <span class="td"><input name="package" value="{{package}}" type="hidden"/></span>
                             <span class="td"><input name="alcohol_content" value="{{alcohol_content}}" type="hidden"/></span>
                             <span class="td"><input name="sugar_content" value="{{sugar_content}}" type="hidden"/></span>
                             <span class="td"><input name="producer_name" value="{{producer_name}}" type="hidden"/></span>
                             <span class="td"><input name="description" value="{{description}}" type="hidden"/></span>
                             <span class="td"><input name="tasting_note" value="{{tasting_note}}" type="hidden"/></span>
                             <span class="td"><input name="varietal" value="{{varietal}}" type="hidden"/></span>
                             <span class="td"><input name="style" value="{{style}}" type="hidden"/></span>
                             <span class="td"><input name="sugar_in_grams_per_liter" value="{{sugar_in_grams_per_liter}}" type="hidden"/></span>  
                             <!-- End of Hidden fields -->
                            
                         </tr>
                         </form>
                    </div>

                    {{/wnsAPIdt}}

                    </table>
                      
                </div>

            </div>
          </section>
        </div>

        <div class="return-box-table">
            <div class="back-to">
                <ul>
                    <li>
                        <a href="/wines/search">To Search</a>
                    </li>
                </ul>  
            </div>
        </div>
    </div>   <!-- main-container -->
</body>

</html>